body{
    background-color: #e0e0dd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: hidden;
}

header{
    background-color: #cf2b2a;
    width: 100%;
    height: 10%;
    margin-left: -2%;
    margin-top:-2%;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
h1{
    position: relative;
    margin-left: 2%;
    color: #fefefc;
    font-family: "Roboto", sans-serif;
}
h3{
    color: #fefefc;
    margin-left: 2%;
    margin-top: 10%;
    position: fixed;
    font-family: "Roboto", sans-serif;
}
h2{
    margin-top: 40% ;
    font-family: "Roboto", sans-serif;
}
h4{
    margin-left: 4%;
    font-family: "Roboto", sans-serif;
}
.prato{
    width: 190%;
    height: 230px; /*216 */
    background-color: brown;
    margin-top: 1%;
    margin-left: -10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.bebida{
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
}
.sobremesa{
    width: 1000px;
    height: 500px;  
    display: flex;
    flex-direction: row;
}
.opcao1{
    width: 172px;
    height:216px;
    background-color: #ffffff;
    margin-left: -9%;
    border-radius: 9px;
}
.opcao2{
    width: 172px;
    height:216px;
    background-color: #ffffff;
    margin-left: 2%;
    border-radius: 9px;
}

.img1{
    width: 144px;
    height:87px;
    top:183px;
    left:33px;
    border-radius:4px;
}
.img2{
    width: 144px;
    height:87px;
    top:183px;
    left:33px;
    border-radius:4px;
}
.img3{
    width: 144px;
    height:87px;
    top:183px;
    left:33px;
    border-radius:4px;
}
.img4{
    width: 144px;
    height:87px;
    top:183px;
    left:33px;
    border-radius:4px; 
}
.opcao3{
    width: 172px;
    height:216px;
    background-color: #ffffff;
    margin-left: 4%;
    border-radius: 9px;
}
.opcao4{
    width: 200px;
    height:300px;
    background-color: #ffffff;
    margin-left: 8%;
    margin-top: 10%;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:hidden;
}
.opcao5{
    width: 200px;
    height:300px;
    background-color: #ffffff;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:hidden;
}
.opcao6{
    width: 200px;
    height:300px;
    background-color: #ffffff;
    margin-left: 10%;
    margin-top: 10%;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border:hidden;

}
.img5{
    width: 144px;
    height:87px;
    top:183px;
    left:33px;
    border-radius:4px;
}
.img6{
    width: 144px;
    height:87px;
    top:183px;
    left:33px;
    border-radius:4px;
}
.desc1{
    margin-left: 4%;
    font-family: "Roboto", sans-serif;
    color: #A6A6A6;
}
.d{
    margin-left: 10%;
    margin-top: -2%;
    color: gray;
}
.desc2{
    margin-left: 10%;
}
.d2{
    margin-left: 10%;
    margin-top: 20%;
    color: gray;
}
.preco{
    margin-top: -5%;
    margin-left: 4%;
   font-family: "Roboto", sans-serif;
}
.preco2{
    margin-left: 10%;
    margin-top: 15%;
    font-family: "Roboto", sans-serif;
}
.L{
    color: gray ;
    margin-left: 10%;
}
.desc3_5{
    margin-left: 10%;
}
.desc3{
    margin-left: 10%;
}
.desc4{
    margin-left: 10%;
}
.desc5{
    margin-left: 10%;
}
.pagamento{
    width: 700px;
    height: 200px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: red;
    position: absolute;
    border-radius: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrinho{
    width: 400px;
    height: 400px;
    background-color: #e0e0dd;
    position: fixed;
    margin-left: 1480px;
    top: 20%;
}
.car{
    width: 100px;
    height: 100px;
}
.contatos{
    width: 100.7%;
    height: 10%;
    margin-left: -0.5%;
    left: 0;
    margin-top: 5%;
    background-color: red;
    position: relative;

}
.botao{
    width: 100px;
    height: 50px;
    color: red;
}
#op1, #op2, #op3, #op4, #op5, #op6 {
    border: none;
}

#op1:hover, #op2:hover, #op3:hover, #op4:hover, #op5:hover, #op6:hover {
    border: 1px solid #cf2b2a;
}
.escolha{
   margin-left: 20px;
}